<div class='breadcrumb-container'>
  <ol class='breadcrumb'>
    <for|breadcrumb| of=input.breadcrumbs>
      <li class="breadcrumb-item"><a href=`${breadcrumb.href}`>${breadcrumb.text}</a></li>
    </for>
  </ol>
</div>




