<app-layout title="Header/logo" pageMeta=input.pageMeta>

  <app-navbar navs=input.navs/>

  <app-breadcrumb breadcrumbs=input.breadcrumbs/>

  <app-heading-level titleH1=input.pageMeta.h1/>

  <app-products stocks=input.stocks/>

  <app-page-text pageTexts=input.pageTexts/>

</app-layout>
