<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <${input.head}/>
  </head>
  <body>
    <app-header title="Header/logo"/>
    <div>
        <${input.body}/>
    </div>
  </body>
</html>
