header {
  margin-top: 40px;
}

.header-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 1140px;
  height: 100px;
  background: #ffffff;
  margin: 0 auto;
}

.header-container span {
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
}

.logo {
  padding-left: 20px;
  height: 2.2em;
}